{"openapi":"3.0.0","info":{"title":"Rocket Chat API","version":"1.0.0","description":"This is a sample API"},"servers":[{"url":"https://apiexplorer.support.rocket.chat/"}],"paths":{"/v1/rooms.autocomplete.channelAndPrivate":{"get":{"summary":"GET /v1/rooms.autocomplete.channelAndPrivate","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"$ref":"#/components/schemas/IRoom"}}}}}}}}},"/v1/rooms.autocomplete.channelAndPrivate.withPagination":{"get":{"summary":"GET /v1/rooms.autocomplete.channelAndPrivate.withPagination","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"$ref":"#/components/schemas/IRoom"},"total":{"$ref":"number"}}}}}}}}},"/v1/rooms.autocomplete.availableForTeams":{"get":{"summary":"GET /v1/rooms.autocomplete.availableForTeams","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"$ref":"#/components/schemas/IRoom"}}}}}}}}},"/v1/rooms.autocomplete.adminRooms":{"get":{"summary":"GET /v1/rooms.autocomplete.adminRooms","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"$ref":"#/components/schemas/IRoom"}}}}}}}}},"/v1/rooms.info":{"get":{"summary":"GET /v1/rooms.info","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"room":{"$ref":"IRoom | undefined"}}}}}}}}},"/v1/rooms.cleanHistory":{"post":{"summary":"POST /v1/rooms.cleanHistory","tags":["roomEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"roomId":{"value":"IRoom['_id']"},"latest":{"value":"string"},"oldest":{"value":"string"},"inclusive":{"value":"boolean"},"excludePinned":{"value":"boolean"},"filesOnly":{"value":"boolean"},"users":{"value":"IUser['username'][]"},"limit":{"value":"number"},"ignoreDiscussion":{"value":"boolean"},"ignoreThreads":{"value":"boolean"}},"required":["roomId","latest","oldest","inclusive","excludePinned","filesOnly","users","limit","ignoreDiscussion","ignoreThreads"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"$ref":"IRoom['_id']"},"count":{"$ref":"number"},"success":{"$ref":"boolean"}}}}}}}}},"/v1/rooms.createDiscussion":{"post":{"summary":"POST /v1/rooms.createDiscussion","tags":["roomEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prid":{"value":"string"},"pmid":{"value":"string"},"t_name":{"value":"string"},"users":{"value":"string[]"},"encrypted":{"value":"boolean"},"reply":{"value":"string"},"topic":{"value":"string"}},"required":["prid","pmid","t_name","users","encrypted","reply","topic"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"discussion":{"$ref":"#/components/schemas/IRoom"}}}}}}}}},"/v1/rooms.export":{"post":{"summary":"POST /v1/rooms.export","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/rooms.adminRooms":{"get":{"summary":"GET /v1/rooms.adminRooms","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/rooms.adminRooms.getRoom":{"get":{"summary":"GET /v1/rooms.adminRooms.getRoom","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/rooms.saveRoomSettings":{"post":{"summary":"POST /v1/rooms.saveRoomSettings","tags":["roomEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"rid":{"value":"string"},"roomAvatar":{"value":"string"},"featured":{"value":"boolean"},"roomName":{"value":"string"},"roomTopic":{"value":"string"},"roomAnnouncement":{"value":"string"},"roomDescription":{"value":"string"},"roomType":{"value":"RoomType"},"readOnly":{"value":"boolean"},"reactWhenReadOnly":{"value":"boolean"},"default":{"value":"boolean"},"encrypted":{"value":"boolean"},"favorite":{"value":"{ defaultValue?: boolean; favorite?: boolean; }"}},"required":["rid","roomAvatar","featured","roomName","roomTopic","roomAnnouncement","roomDescription","roomType","readOnly","reactWhenReadOnly","default","encrypted"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"$ref":"boolean"},"rid":{"$ref":"string"}}}}}}}}},"/v1/rooms.changeArchivationState":{"post":{"summary":"POST /v1/rooms.changeArchivationState","tags":["roomEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"rid":{"value":"string"},"action":{"value":"string"}},"required":["rid","action"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"$ref":"boolean"}}}}}}}}},"/v1/rooms.upload/:rid":{"post":{"summary":"POST /v1/rooms.upload/:rid","tags":["roomEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"value":"File"},"description":{"value":"string"},"avatar":{"value":"string"},"emoji":{"value":"string"},"alias":{"value":"string"},"groupable":{"value":"boolean"},"msg":{"value":"string"},"tmid":{"value":"string"},"customFields":{"value":"string"}},"required":["file","description","avatar","emoji","alias","groupable","msg","tmid","customFields"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"$ref":"IMessage | null"}}}}}}}}},"/v1/rooms.saveNotification":{"post":{"summary":"POST /v1/rooms.saveNotification","tags":["roomEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"roomId":{"value":"string"},"notifications":{"value":"Notifications"}},"required":["roomId","notifications"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/rooms.favorite":{"post":{"summary":"POST /v1/rooms.favorite","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/rooms.nameExists":{"get":{"summary":"GET /v1/rooms.nameExists","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"exists":{"$ref":"boolean"}}}}}}}}},"/v1/rooms.delete":{"post":{"summary":"POST /v1/rooms.delete","tags":["roomEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"roomId":{"value":"string"}},"required":["roomId"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/rooms.get":{"get":{"summary":"GET /v1/rooms.get","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"update":{"$ref":"#/components/schemas/IRoom"},"remove":{"$ref":"#/components/schemas/IRoom"}}}}}}}}},"/v1/rooms.leave":{"post":{"summary":"POST /v1/rooms.leave","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/rooms.getDiscussions":{"get":{"summary":"GET /v1/rooms.getDiscussions","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/rooms.muteUser":{"post":{"summary":"POST /v1/rooms.muteUser","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/rooms.unmuteUser":{"post":{"summary":"POST /v1/rooms.unmuteUser","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/rooms.images":{"get":{"summary":"GET /v1/rooms.images","tags":["roomEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.2fa.enableEmail":{"post":{"summary":"POST /v1/users.2fa.enableEmail","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.2fa.disableEmail":{"post":{"summary":"POST /v1/users.2fa.disableEmail","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.2fa.sendEmailCode":{"post":{"summary":"POST /v1/users.2fa.sendEmailCode","tags":["usersEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"emailOrUsername":{"value":"string"}},"required":["emailOrUsername"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.sendConfirmationEmail":{"post":{"summary":"POST /v1/users.sendConfirmationEmail","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.listTeams":{"get":{"summary":"GET /v1/users.listTeams","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"teams":{"$ref":"ITeam[]"}}}}}}}}},"/v1/users.autocomplete":{"get":{"summary":"GET /v1/users.autocomplete","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"$ref":"Required<Pick<IUser, '_id' | 'name' | 'username' | 'nickname' | 'status' | 'avatarETag'>>[]"}}}}}}}}},"/v1/users.list":{"get":{"summary":"GET /v1/users.list","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.listByStatus":{"get":{"summary":"GET /v1/users.listByStatus","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.sendWelcomeEmail":{"post":{"summary":"POST /v1/users.sendWelcomeEmail","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.setAvatar":{"post":{"summary":"POST /v1/users.setAvatar","tags":["usersEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"userId":{"value":"string"},"username":{"value":"string"},"avatarUrl":{"value":"string"}},"required":["userId","username","avatarUrl"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.resetAvatar":{"post":{"summary":"POST /v1/users.resetAvatar","tags":["usersEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"userId":{"value":"string"},"username":{"value":"string"}},"required":["userId","username"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.requestDataDownload":{"get":{"summary":"GET /v1/users.requestDataDownload","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"requested":{"$ref":"boolean"},"exportOperation":{"$ref":"IExportOperation"}}}}}}}}},"/v1/users.logoutOtherClients":{"post":{"summary":"POST /v1/users.logoutOtherClients","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"$ref":"string"},"tokenExpires":{"$ref":"string"}}}}}}}}},"/v1/users.removeOtherTokens":{"post":{"summary":"POST /v1/users.removeOtherTokens","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.resetE2EKey":{"post":{"summary":"POST /v1/users.resetE2EKey","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.resetTOTP":{"post":{"summary":"POST /v1/users.resetTOTP","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.presence":{"get":{"summary":"GET /v1/users.presence","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.removePersonalAccessToken":{"post":{"summary":"POST /v1/users.removePersonalAccessToken","tags":["usersEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"tokenName":{"value":"string"}},"required":["tokenName"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.getPersonalAccessTokens":{"get":{"summary":"GET /v1/users.getPersonalAccessTokens","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"tokens":{"$ref":"UserPersonalTokens[]"}}}}}}}}},"/v1/users.regeneratePersonalAccessToken":{"post":{"summary":"POST /v1/users.regeneratePersonalAccessToken","tags":["usersEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"tokenName":{"value":"string"}},"required":["tokenName"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"$ref":"string"}}}}}}}}},"/v1/users.generatePersonalAccessToken":{"post":{"summary":"POST /v1/users.generatePersonalAccessToken","tags":["usersEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"tokenName":{"value":"string"},"bypassTwoFactor":{"value":"boolean"}},"required":["tokenName","bypassTwoFactor"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"$ref":"string"}}}}}}}}},"/v1/users.getUsernameSuggestion":{"get":{"summary":"GET /v1/users.getUsernameSuggestion","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"$ref":"string"}}}}}}}}},"/v1/users.getAvatarSuggestion":{"get":{"summary":"GET /v1/users.getAvatarSuggestion","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"suggestions":{"$ref":"Record<\n\t\t\t\tstring,\n\t\t\t\t{\n\t\t\t\t\tblob: string;\n\t\t\t\t\tcontentType: string;\n\t\t\t\t\tservice: string;\n\t\t\t\t\turl: string;\n\t\t\t\t}\n\t\t\t>"}}}}}}}}},"/v1/users.checkUsernameAvailability":{"get":{"summary":"GET /v1/users.checkUsernameAvailability","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"$ref":"boolean"}}}}}}}}},"/v1/users.forgotPassword":{"post":{"summary":"POST /v1/users.forgotPassword","tags":["usersEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"value":"string"}},"required":["email"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.getPreferences":{"get":{"summary":"GET /v1/users.getPreferences","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"preferences":{"$ref":"Required<IUser>['settings']['preferences']"}}}}}}}}},"/v1/users.createToken":{"post":{"summary":"POST /v1/users.createToken","tags":["usersEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"userId":{"value":"string"},"username":{"value":"string"},"user":{"value":"string"}},"required":["userId","username","user"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"{\n\t\t\t\tuserId: string;\n\t\t\t\tauthToken: string;\n\t\t\t}"}}}}}}}}},"/v1/users.create":{"post":{"summary":"POST /v1/users.create","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/IUser"}}}}}}}}},"/v1/users.update":{"post":{"summary":"POST /v1/users.update","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/IUser"}}}}}}}}},"/v1/users.setActiveStatus":{"post":{"summary":"POST /v1/users.setActiveStatus","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/IUser"}}}}}}}}},"/v1/users.deactivateIdle":{"post":{"summary":"POST /v1/users.deactivateIdle","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"$ref":"number"}}}}}}}}},"/v1/users.getPresence":{"get":{"summary":"GET /v1/users.getPresence","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"presence":{"$ref":"UserStatus"},"connectionStatus":{"$ref":"'online' | 'offline' | 'away' | 'busy'"},"lastLogin":{"$ref":"string"}}}}}}}}},"/v1/users.setStatus":{"post":{"summary":"POST /v1/users.setStatus","tags":["usersEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"value":"string"},"status":{"value":"UserStatus"},"userId":{"value":"string"},"username":{"value":"string"},"user":{"value":"string"}},"required":["message","status","userId","username","user"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.getStatus":{"get":{"summary":"GET /v1/users.getStatus","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"$ref":"'online' | 'offline' | 'away' | 'busy'"},"message":{"$ref":"string"},"_id":{"$ref":"string"},"connectionStatus":{"$ref":"'online' | 'offline' | 'away' | 'busy'"}}}}}}}}},"/v1/users.info":{"get":{"summary":"GET /v1/users.info","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"$ref":"IUser & { rooms?: Pick<ISubscription, 'rid' | 'name' | 't' | 'roles' | 'unread'>[] }"}}}}}}}}},"/v1/users.register":{"post":{"summary":"POST /v1/users.register","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"$ref":"Partial<IUser>"}}}}}}}}},"/v1/users.logout":{"post":{"summary":"POST /v1/users.logout","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"$ref":"string"}}}}}}}}},"/v1/users.setPreferences":{"post":{"summary":"POST /v1/users.setPreferences","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"$ref":"Required<Pick<IUser, '_id' | 'settings'>>"}}}}}}}}},"/v1/users.delete":{"post":{"summary":"POST /v1/users.delete","tags":["usersEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"userId":{"value":"IUser['_id']"},"confirmRelinquish":{"value":"boolean"}},"required":["userId","confirmRelinquish"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.getAvatar":{"get":{"summary":"GET /v1/users.getAvatar","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/v1/users.updateOwnBasicInfo":{"post":{"summary":"POST /v1/users.updateOwnBasicInfo","tags":["usersEndpoints"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/IUser"}}}}}}}}},"/v1/users.deleteOwnAccount":{"post":{"summary":"POST /v1/users.deleteOwnAccount","tags":["usersEndpoints"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"password":{"value":"string"},"confirmRelinquish":{"value":"boolean"}},"required":["password","confirmRelinquish"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}}},"components":{"schemas":{"IRoom":{"type":"object","properties":{"_id":{"type":"string","description":"RoomID"},"t":{"type":"string","description":"RoomType"},"name":{"type":"string"},"fname":{"type":"string"},"msgs":{"type":"integer"},"default":{"type":"boolean"},"broadcast":{"type":"boolean","enum":[true]},"featured":{"type":"boolean","enum":[true]},"announcement":{"type":"string"},"joinCodeRequired":{"type":"boolean"},"announcementDetails":{"type":"object","properties":{"style":{"type":"string"}}},"encrypted":{"type":"boolean"},"topic":{"type":"string"},"reactWhenReadOnly":{"type":"boolean"},"sysMes":{"oneOf":[{"type":"array","items":{"type":"string","description":"MessageTypesValues"}},{"type":"boolean"}]},"u":{"type":"object","properties":{"_id":{"type":"string"},"username":{"type":"string"},"name":{"type":"string"}}},"uids":{"type":"array","items":{"type":"string"}},"lastMessage":{"$ref":"#/components/schemas/IMessage"},"lm":{"type":"string","format":"date-time"},"usersCount":{"type":"integer"},"callStatus":{"type":"string","description":"CallStatus"},"webRtcCallStartTime":{"type":"string","format":"date-time"},"servedBy":{"type":"object","properties":{"_id":{"type":"string"}}},"streamingOptions":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"url":{"type":"string"},"thumbnail":{"type":"string"},"isAudioOnly":{"type":"boolean"},"message":{"type":"string"}}},"prid":{"type":"string"},"avatarETag":{"type":"string"},"teamMain":{"type":"boolean"},"teamId":{"type":"string"},"teamDefault":{"type":"boolean"},"open":{"type":"boolean"},"autoTranslateLanguage":{"type":"string"},"autoTranslate":{"type":"boolean"},"unread":{"type":"integer"},"alert":{"type":"boolean"},"hideUnreadStatus":{"type":"boolean"},"hideMentionStatus":{"type":"boolean"},"muted":{"type":"array","items":{"type":"string"}},"unmuted":{"type":"array","items":{"type":"string"}},"usernames":{"type":"array","items":{"type":"string"}},"ts":{"type":"string","format":"date-time"},"cl":{"type":"boolean"},"ro":{"type":"boolean"},"favorite":{"type":"boolean"},"archived":{"type":"boolean"},"description":{"type":"string"},"createdOTR":{"type":"boolean"},"e2eKeyId":{"type":"string"},"federated":{"type":"boolean"},"customFields":{"type":"object","additionalProperties":true},"channel":{"type":"object","properties":{"_id":{"type":"string"}}}},"required":["_id","t","msgs","u","usersCount"]},"IUser":{"type":"object","properties":{"_id":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"roles":{"type":"array","items":{"type":"string","description":"IRole['_id']"}},"type":{"type":"string"},"active":{"type":"boolean"},"username":{"type":"string"},"nickname":{"type":"string"},"name":{"type":"string"},"services":{"$ref":"#/components/schemas/IUserServices"},"emails":{"type":"array","items":{"$ref":"#/components/schemas/IUserEmail"}},"status":{"type":"string","description":"UserStatus"},"statusConnection":{"type":"string"},"lastLogin":{"type":"string","format":"date-time"},"bio":{"type":"string"},"avatarOrigin":{"type":"string"},"avatarETag":{"type":"string"},"avatarUrl":{"type":"string"},"utcOffset":{"type":"number"},"language":{"type":"string"},"statusDefault":{"type":"string","description":"UserStatus"},"statusText":{"type":"string"},"oauth":{"type":"object","properties":{"authorizedClients":{"type":"array","items":{"type":"string"}}}},"_updatedAt":{"type":"string","format":"date-time"},"e2e":{"type":"object","properties":{"private_key":{"type":"string"},"public_key":{"type":"string"}}},"requirePasswordChange":{"type":"boolean"},"customFields":{"type":"object","additionalProperties":true},"settings":{"$ref":"#/components/schemas/IUserSettings"},"defaultRoom":{"type":"string"},"ldap":{"type":"boolean"},"extension":{"type":"string"},"inviteToken":{"type":"string"},"canViewAllInfo":{"type":"boolean"},"phone":{"type":"string"},"reason":{"type":"string"},"federated":{"type":"boolean"},"federation":{"type":"object","properties":{"avatarUrl":{"type":"string"},"searchedServerNames":{"type":"array","items":{"type":"string"}}}},"banners":{"type":"object","additionalProperties":{"type":"object","properties":{"id":{"type":"string"},"priority":{"type":"number"},"title":{"type":"string"},"text":{"type":"string"},"textArguments":{"type":"array","items":{"type":"string"}},"modifiers":{"type":"array","items":{"type":"string","enum":["large","danger"]}},"link":{"type":"string"},"read":{"type":"boolean"}}}},"importIds":{"type":"array","items":{"type":"string"}},"_pendingAvatarUrl":{"type":"string"}},"required":["_id","createdAt","roles","type","active","_updatedAt"]},"IUpload":{"type":"object","properties":{"_id":{"type":"string"},"typeGroup":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"name":{"type":"string"},"aliases":{"type":"string"},"extension":{"type":"string"},"complete":{"type":"boolean"},"rid":{"type":"string"},"uid":{"type":"string"},"uploading":{"type":"boolean"},"userId":{"type":"string"},"progress":{"type":"number"},"etag":{"type":"string"},"size":{"type":"number"},"identify":{"type":"object","properties":{"format":{"type":"string"},"size":{"type":"object","properties":{"width":{"type":"number"},"height":{"type":"number"}}}}},"store":{"type":"string"},"path":{"type":"string"},"token":{"type":"string"},"uploadedAt":{"type":"string","format":"date-time"},"modifiedAt":{"type":"string","format":"date-time"},"url":{"type":"string"},"originalStore":{"type":"string"},"originalId":{"type":"string"},"message_id":{"type":"string"},"instanceId":{"type":"string"},"AmazonS3":{"type":"object","properties":{"path":{"type":"string"}}},"s3":{"type":"object","properties":{"path":{"type":"string"}}},"GoogleStorage":{"type":"object","properties":{"path":{"type":"string"}}},"googleCloudStorage":{"type":"object","properties":{"path":{"type":"string"}}},"Webdav":{"type":"object","properties":{"path":{"type":"string"}}}},"required":["_id"]},"IMessage":{"type":"object","properties":{"rid":{"type":"string","description":"RoomID"},"msg":{"type":"string"},"tmid":{"type":"string"},"tshow":{"type":"boolean"},"ts":{"type":"string","format":"date-time"},"mentions":{"type":"array","items":{"$ref":"#/components/schemas/MessageMention"}},"groupable":{"type":"boolean"},"channels":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"}}}},"u":{"type":"object","properties":{"_id":{"type":"string"},"username":{"type":"string"},"name":{"type":"string"}},"required":["_id","username"]},"blocks":{"$ref":"#/components/schemas/MessageSurfaceLayout"},"alias":{"type":"string"},"md":{"$ref":"#/components/schemas/Root"},"_hidden":{"type":"boolean"},"imported":{"type":"boolean"},"replies":{"type":"array","items":{"type":"string","description":"IUser['_id']"}},"location":{"type":"object","properties":{"type":{"type":"string","enum":["Point"]},"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2}}},"starred":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string","description":"IUser['_id']"}}}},"pinned":{"type":"boolean"},"pinnedAt":{"type":"string","format":"date-time"},"pinnedBy":{"type":"object","properties":{"_id":{"type":"string"},"username":{"type":"string"}}},"unread":{"type":"boolean"},"temp":{"type":"boolean"},"drid":{"type":"string","description":"RoomID"},"tlm":{"type":"string","format":"date-time"},"dcount":{"type":"integer"},"tcount":{"type":"integer"},"t":{"type":"string","description":"MessageTypesValues"},"e2e":{"type":"string","enum":["pending","done"]},"otrAck":{"type":"string"},"urls":{"type":"array","items":{"$ref":"#/components/schemas/MessageUrl"}},"actionLinks":{"type":"array","items":{"type":"object","properties":{"icon":{"type":"string","description":"keyof typeof Icons"},"i18nLabel":{"type":"string"},"label":{"type":"string"},"method_id":{"type":"string"},"params":{"type":"string"}}},"deprecated":true},"file":{"$ref":"#/components/schemas/FileProp","deprecated":true},"fileUpload":{"type":"object","properties":{"publicFilePath":{"type":"string"},"type":{"type":"string"},"size":{"type":"number"}}},"files":{"type":"array","items":{"$ref":"#/components/schemas/FileProp"}},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/MessageAttachment"}},"reactions":{"type":"object","additionalProperties":{"type":"object","properties":{"names":{"type":"array","items":{"type":"string"}},"usernames":{"type":"array","items":{"type":"string"}},"federationReactionEventIds":{"type":"object","additionalProperties":{"type":"string"}}}}},"private":{"type":"boolean"},"bot":{"type":"boolean"},"sentByEmail":{"type":"boolean"},"webRtcCallEndTs":{"type":"string","format":"date-time"},"role":{"type":"string"},"avatar":{"type":"string"},"emoji":{"type":"string"},"tokens":{"type":"array","items":{"$ref":"#/components/schemas/Token"}},"html":{"type":"string"},"token":{"type":"string"},"federation":{"type":"object","properties":{"eventId":{"type":"string"}}},"slaData":{"type":"object","properties":{"definedBy":{"type":"object","properties":{"_id":{"type":"string"},"username":{"type":"string"}}},"sla":{"type":"object","properties":{"name":{"type":"string"}}}}},"priorityData":{"type":"object","properties":{"definedBy":{"type":"object","properties":{"_id":{"type":"string"},"username":{"type":"string"}}},"priority":{"type":"object","properties":{"name":{"type":"string"},"i18n":{"type":"string"}}}}},"customFields":{"$ref":"#/components/schemas/IMessageCustomFields"}},"required":["rid","msg","ts","u"]},"ITeam":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string","description":"TEAM_TYPE"},"roomId":{"type":"string"},"createdBy":{"type":"object","properties":{"_id":{"type":"string"},"username":{"type":"string"}}},"createdAt":{"type":"string","format":"date-time"}},"required":["name","type","roomId","createdBy","createdAt"]}}}}