{
  "openapi": "3.0.0",
  "info": {
    "title": "Rocket Chat API",
    "version": "1.0.0",
    "description": "This is a sample API Documentation"
  },
  "servers": [
    {
      "url": "https://apiexplorer.support.rocket.chat/"
    }
  ],
  "paths": {
    "/v1/rooms.autocomplete.channelAndPrivate": {
      "get": {
        "tags": [
          "roomEndpoints"
        ],
        "parameters": [
          {
            "name": "selector",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.autocomplete.channelAndPrivate.withPagination": {
      "get": {
        "tags": [
          "roomEndpoints"
        ],
        "parameters": [
          {
            "name": "selector",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.autocomplete.availableForTeams": {
      "get": {
        "tags": [
          "roomEndpoints"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.autocomplete.adminRooms": {
      "get": {
        "tags": [
          "roomEndpoints"
        ],
        "parameters": [
          {
            "name": "selector",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.info": {
      "get": {
        "tags": [
          "roomEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.cleanHistory": {
      "post": {
        "tags": [
          "roomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roomId": {
                    "type": "string"
                  },
                  "latest": {
                    "type": "string"
                  },
                  "oldest": {
                    "type": "string"
                  },
                  "inclusive": {
                    "type": "boolean"
                  },
                  "excludePinned": {
                    "type": "boolean"
                  },
                  "filesOnly": {
                    "type": "boolean"
                  },
                  "users": {
                    "type": "array",
                    "items": {}
                  },
                  "limit": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "ignoreDiscussion": {
                    "type": "boolean"
                  },
                  "ignoreThreads": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "roomId",
                  "latest",
                  "oldest",
                  "inclusive",
                  "excludePinned",
                  "filesOnly",
                  "users",
                  "limit",
                  "ignoreDiscussion",
                  "ignoreThreads"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.createDiscussion": {
      "post": {
        "tags": [
          "roomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prid": {
                    "type": "string"
                  },
                  "pmid": {
                    "type": "string"
                  },
                  "t_name": {
                    "type": "string"
                  },
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "encrypted": {
                    "type": "boolean"
                  },
                  "reply": {
                    "type": "string"
                  },
                  "topic": {
                    "type": "string"
                  }
                },
                "required": [
                  "prid",
                  "pmid",
                  "t_name",
                  "users",
                  "encrypted",
                  "reply",
                  "topic"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.export": {
      "post": {
        "tags": [
          "roomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "success": {
                          "type": "boolean"
                        }
                      }
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.adminRooms": {
      "get": {
        "tags": [
          "roomEndpoints"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.adminRooms.getRoom": {
      "get": {
        "tags": [
          "roomEndpoints"
        ],
        "parameters": [
          {
            "name": "rid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.saveRoomSettings": {
      "post": {
        "tags": [
          "roomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rid": {
                    "type": "string"
                  },
                  "roomAvatar": {
                    "type": "string"
                  },
                  "featured": {
                    "type": "boolean"
                  },
                  "roomName": {
                    "type": "string"
                  },
                  "roomTopic": {
                    "type": "string"
                  },
                  "roomAnnouncement": {
                    "type": "string"
                  },
                  "roomDescription": {
                    "type": "string"
                  },
                  "roomType": {},
                  "readOnly": {
                    "type": "boolean"
                  },
                  "reactWhenReadOnly": {
                    "type": "boolean"
                  },
                  "default": {
                    "type": "boolean"
                  },
                  "encrypted": {
                    "type": "boolean"
                  },
                  "favorite": {}
                },
                "required": [
                  "rid",
                  "roomAvatar",
                  "featured",
                  "roomName",
                  "roomTopic",
                  "roomAnnouncement",
                  "roomDescription",
                  "roomType",
                  "readOnly",
                  "reactWhenReadOnly",
                  "default",
                  "encrypted"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.changeArchivationState": {
      "post": {
        "tags": [
          "roomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rid": {
                    "type": "string"
                  },
                  "action": {
                    "type": "string"
                  }
                },
                "required": [
                  "rid",
                  "action"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.upload/:rid": {
      "post": {
        "tags": [
          "roomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {},
                  "description": {
                    "type": "string"
                  },
                  "avatar": {
                    "type": "string"
                  },
                  "emoji": {
                    "type": "string"
                  },
                  "alias": {
                    "type": "string"
                  },
                  "groupable": {
                    "type": "boolean"
                  },
                  "msg": {
                    "type": "string"
                  },
                  "tmid": {
                    "type": "string"
                  },
                  "customFields": {
                    "type": "string"
                  }
                },
                "required": [
                  "file",
                  "description",
                  "avatar",
                  "emoji",
                  "alias",
                  "groupable",
                  "msg",
                  "tmid",
                  "customFields"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.saveNotification": {
      "post": {
        "tags": [
          "roomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roomId": {
                    "type": "string"
                  },
                  "notifications": {}
                },
                "required": [
                  "roomId",
                  "notifications"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.favorite": {
      "post": {
        "tags": [
          "roomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.nameExists": {
      "get": {
        "tags": [
          "roomEndpoints"
        ],
        "parameters": [
          {
            "name": "roomName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.delete": {
      "post": {
        "tags": [
          "roomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roomId": {
                    "type": "string"
                  }
                },
                "required": [
                  "roomId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.get": {
      "get": {
        "tags": [
          "roomEndpoints"
        ],
        "parameters": [
          {
            "name": "updatedSince",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.leave": {
      "post": {
        "tags": [
          "roomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.getDiscussions": {
      "get": {
        "tags": [
          "roomEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.muteUser": {
      "post": {
        "tags": [
          "roomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.unmuteUser": {
      "post": {
        "tags": [
          "roomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/rooms.images": {
      "get": {
        "tags": [
          "roomEndpoints"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startingFromId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.2fa.enableEmail": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.2fa.disableEmail": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.2fa.sendEmailCode": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emailOrUsername": {
                    "type": "string"
                  }
                },
                "required": [
                  "emailOrUsername"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.sendConfirmationEmail": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.listTeams": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.autocomplete": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.list": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.listByStatus": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.sendWelcomeEmail": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.setAvatar": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "avatarUrl": {
                    "type": "string"
                  }
                },
                "required": [
                  "userId",
                  "username",
                  "avatarUrl"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.resetAvatar": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  }
                },
                "required": [
                  "userId",
                  "username"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.requestDataDownload": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [
          {
            "name": "fullExport",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.logoutOtherClients": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.removeOtherTokens": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.resetE2EKey": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.resetTOTP": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.presence": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.removePersonalAccessToken": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tokenName": {
                    "type": "string"
                  }
                },
                "required": [
                  "tokenName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.getPersonalAccessTokens": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.regeneratePersonalAccessToken": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tokenName": {
                    "type": "string"
                  }
                },
                "required": [
                  "tokenName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.generatePersonalAccessToken": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tokenName": {
                    "type": "string"
                  },
                  "bypassTwoFactor": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "tokenName",
                  "bypassTwoFactor"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.getUsernameSuggestion": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.getAvatarSuggestion": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.checkUsernameAvailability": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.forgotPassword": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.getPreferences": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.createToken": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "userId",
                  "username",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.create": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.update": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.setActiveStatus": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.deactivateIdle": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.getPresence": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.setStatus": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "status": {},
                  "userId": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "message",
                  "status",
                  "userId",
                  "username",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.getStatus": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.info": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.register": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.logout": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.setPreferences": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.delete": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {},
                  "confirmRelinquish": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "userId",
                  "confirmRelinquish"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.getAvatar": {
      "get": {
        "tags": [
          "usersEndpoints"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.updateOwnBasicInfo": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    },
    "/v1/users.deleteOwnAccount": {
      "post": {
        "tags": [
          "usersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "confirmRelinquish": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "password",
                  "confirmRelinquish"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": []
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IRoom": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "RoomID"
          },
          "t": {
            "type": "string",
            "description": "RoomType"
          },
          "name": {
            "type": "string"
          },
          "fname": {
            "type": "string"
          },
          "msgs": {
            "type": "integer"
          },
          "default": {
            "type": "boolean"
          },
          "broadcast": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "featured": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "announcement": {
            "type": "string"
          },
          "joinCodeRequired": {
            "type": "boolean"
          },
          "announcementDetails": {
            "type": "object",
            "properties": {
              "style": {
                "type": "string"
              }
            }
          },
          "encrypted": {
            "type": "boolean"
          },
          "topic": {
            "type": "string"
          },
          "reactWhenReadOnly": {
            "type": "boolean"
          },
          "sysMes": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "MessageTypesValues"
                }
              },
              {
                "type": "boolean"
              }
            ]
          },
          "u": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "uids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "lastMessage": {
            "$ref": "#/components/schemas/IMessage"
          },
          "lm": {
            "type": "string",
            "format": "date-time"
          },
          "usersCount": {
            "type": "integer"
          },
          "callStatus": {
            "type": "string",
            "description": "CallStatus"
          },
          "webRtcCallStartTime": {
            "type": "string",
            "format": "date-time"
          },
          "servedBy": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string"
              }
            }
          },
          "streamingOptions": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "thumbnail": {
                "type": "string"
              },
              "isAudioOnly": {
                "type": "boolean"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "prid": {
            "type": "string"
          },
          "avatarETag": {
            "type": "string"
          },
          "teamMain": {
            "type": "boolean"
          },
          "teamId": {
            "type": "string"
          },
          "teamDefault": {
            "type": "boolean"
          },
          "open": {
            "type": "boolean"
          },
          "autoTranslateLanguage": {
            "type": "string"
          },
          "autoTranslate": {
            "type": "boolean"
          },
          "unread": {
            "type": "integer"
          },
          "alert": {
            "type": "boolean"
          },
          "hideUnreadStatus": {
            "type": "boolean"
          },
          "hideMentionStatus": {
            "type": "boolean"
          },
          "muted": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "unmuted": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "usernames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ts": {
            "type": "string",
            "format": "date-time"
          },
          "cl": {
            "type": "boolean"
          },
          "ro": {
            "type": "boolean"
          },
          "favorite": {
            "type": "boolean"
          },
          "archived": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "createdOTR": {
            "type": "boolean"
          },
          "e2eKeyId": {
            "type": "string"
          },
          "federated": {
            "type": "boolean"
          },
          "customFields": {
            "type": "object",
            "additionalProperties": true
          },
          "channel": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "_id",
          "t",
          "msgs",
          "u",
          "usersCount"
        ]
      },
      "IUser": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "IRole['_id']"
            }
          },
          "type": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "username": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "services": {
            "$ref": "#/components/schemas/IUserServices"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IUserEmail"
            }
          },
          "status": {
            "type": "string",
            "description": "UserStatus"
          },
          "statusConnection": {
            "type": "string"
          },
          "lastLogin": {
            "type": "string",
            "format": "date-time"
          },
          "bio": {
            "type": "string"
          },
          "avatarOrigin": {
            "type": "string"
          },
          "avatarETag": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string"
          },
          "utcOffset": {
            "type": "number"
          },
          "language": {
            "type": "string"
          },
          "statusDefault": {
            "type": "string",
            "description": "UserStatus"
          },
          "statusText": {
            "type": "string"
          },
          "oauth": {
            "type": "object",
            "properties": {
              "authorizedClients": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "_updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "e2e": {
            "type": "object",
            "properties": {
              "private_key": {
                "type": "string"
              },
              "public_key": {
                "type": "string"
              }
            }
          },
          "requirePasswordChange": {
            "type": "boolean"
          },
          "customFields": {
            "type": "object",
            "additionalProperties": true
          },
          "settings": {
            "$ref": "#/components/schemas/IUserSettings"
          },
          "defaultRoom": {
            "type": "string"
          },
          "ldap": {
            "type": "boolean"
          },
          "extension": {
            "type": "string"
          },
          "inviteToken": {
            "type": "string"
          },
          "canViewAllInfo": {
            "type": "boolean"
          },
          "phone": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "federated": {
            "type": "boolean"
          },
          "federation": {
            "type": "object",
            "properties": {
              "avatarUrl": {
                "type": "string"
              },
              "searchedServerNames": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "banners": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "priority": {
                  "type": "number"
                },
                "title": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "textArguments": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "modifiers": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "large",
                      "danger"
                    ]
                  }
                },
                "link": {
                  "type": "string"
                },
                "read": {
                  "type": "boolean"
                }
              }
            }
          },
          "importIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "_pendingAvatarUrl": {
            "type": "string"
          }
        },
        "required": [
          "_id",
          "createdAt",
          "roles",
          "type",
          "active",
          "_updatedAt"
        ]
      },
      "IUpload": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "typeGroup": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "aliases": {
            "type": "string"
          },
          "extension": {
            "type": "string"
          },
          "complete": {
            "type": "boolean"
          },
          "rid": {
            "type": "string"
          },
          "uid": {
            "type": "string"
          },
          "uploading": {
            "type": "boolean"
          },
          "userId": {
            "type": "string"
          },
          "progress": {
            "type": "number"
          },
          "etag": {
            "type": "string"
          },
          "size": {
            "type": "number"
          },
          "identify": {
            "type": "object",
            "properties": {
              "format": {
                "type": "string"
              },
              "size": {
                "type": "object",
                "properties": {
                  "width": {
                    "type": "number"
                  },
                  "height": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "store": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "uploadedAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "url": {
            "type": "string"
          },
          "originalStore": {
            "type": "string"
          },
          "originalId": {
            "type": "string"
          },
          "message_id": {
            "type": "string"
          },
          "instanceId": {
            "type": "string"
          },
          "AmazonS3": {
            "type": "object",
            "properties": {
              "path": {
                "type": "string"
              }
            }
          },
          "s3": {
            "type": "object",
            "properties": {
              "path": {
                "type": "string"
              }
            }
          },
          "GoogleStorage": {
            "type": "object",
            "properties": {
              "path": {
                "type": "string"
              }
            }
          },
          "googleCloudStorage": {
            "type": "object",
            "properties": {
              "path": {
                "type": "string"
              }
            }
          },
          "Webdav": {
            "type": "object",
            "properties": {
              "path": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "_id"
        ]
      },
      "IMessage": {
        "type": "object",
        "properties": {
          "rid": {
            "type": "string",
            "description": "RoomID"
          },
          "msg": {
            "type": "string"
          },
          "tmid": {
            "type": "string"
          },
          "tshow": {
            "type": "boolean"
          },
          "ts": {
            "type": "string",
            "format": "date-time"
          },
          "mentions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageMention"
            }
          },
          "groupable": {
            "type": "boolean"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "u": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "_id",
              "username"
            ]
          },
          "blocks": {
            "$ref": "#/components/schemas/MessageSurfaceLayout"
          },
          "alias": {
            "type": "string"
          },
          "md": {
            "$ref": "#/components/schemas/Root"
          },
          "_hidden": {
            "type": "boolean"
          },
          "imported": {
            "type": "boolean"
          },
          "replies": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "IUser['_id']"
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "Point"
                ]
              },
              "coordinates": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "minItems": 2,
                "maxItems": 2
              }
            }
          },
          "starred": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "IUser['_id']"
                }
              }
            }
          },
          "pinned": {
            "type": "boolean"
          },
          "pinnedAt": {
            "type": "string",
            "format": "date-time"
          },
          "pinnedBy": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string"
              },
              "username": {
                "type": "string"
              }
            }
          },
          "unread": {
            "type": "boolean"
          },
          "temp": {
            "type": "boolean"
          },
          "drid": {
            "type": "string",
            "description": "RoomID"
          },
          "tlm": {
            "type": "string",
            "format": "date-time"
          },
          "dcount": {
            "type": "integer"
          },
          "tcount": {
            "type": "integer"
          },
          "t": {
            "type": "string",
            "description": "MessageTypesValues"
          },
          "e2e": {
            "type": "string",
            "enum": [
              "pending",
              "done"
            ]
          },
          "otrAck": {
            "type": "string"
          },
          "urls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageUrl"
            }
          },
          "actionLinks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "icon": {
                  "type": "string",
                  "description": "keyof typeof Icons"
                },
                "i18nLabel": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "method_id": {
                  "type": "string"
                },
                "params": {
                  "type": "string"
                }
              }
            },
            "deprecated": true
          },
          "file": {
            "$ref": "#/components/schemas/FileProp",
            "deprecated": true
          },
          "fileUpload": {
            "type": "object",
            "properties": {
              "publicFilePath": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "size": {
                "type": "number"
              }
            }
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileProp"
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageAttachment"
            }
          },
          "reactions": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "names": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "usernames": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "federationReactionEventIds": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "private": {
            "type": "boolean"
          },
          "bot": {
            "type": "boolean"
          },
          "sentByEmail": {
            "type": "boolean"
          },
          "webRtcCallEndTs": {
            "type": "string",
            "format": "date-time"
          },
          "role": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "emoji": {
            "type": "string"
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Token"
            }
          },
          "html": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "federation": {
            "type": "object",
            "properties": {
              "eventId": {
                "type": "string"
              }
            }
          },
          "slaData": {
            "type": "object",
            "properties": {
              "definedBy": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  }
                }
              },
              "sla": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "priorityData": {
            "type": "object",
            "properties": {
              "definedBy": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  }
                }
              },
              "priority": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "i18n": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "customFields": {
            "$ref": "#/components/schemas/IMessageCustomFields"
          }
        },
        "required": [
          "rid",
          "msg",
          "ts",
          "u"
        ]
      },
      "ITeam": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "TEAM_TYPE"
          },
          "roomId": {
            "type": "string"
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string"
              },
              "username": {
                "type": "string"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "name",
          "type",
          "roomId",
          "createdBy",
          "createdAt"
        ]
      }
    }
  }
}